:root {
    /*elemento raiz onde eu posso criar variaveis para repetir propriedades*/
    --title-color: #322153;
    --primary-color:#34cb79;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif
}

body {
    background: #f0f0f5;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}

/* BOX MODEL
modelo de caixa
Toda caixa tem 
largura, altura, espaçamentos
bordas, cor, fundo, maneira que é vista pelo html(display)
posicionanebto, alinhamentos
*/

#page-home {
    height: 70vw;
    background: url('../assets/home-background.svg') no-repeat;
    background-position: 35vw bottom;
}

#page-home .content {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#page-home header {
    display: flex;
    /*Display flex de uma maneira bem grosseira de se falar serve para deixar elementos um ao lado do outro. Exibe um elemento como container flexível no nível do bloco*/
    align-items: center;
    /*alinhas o itens (pelo que eu entendi utilizando a forma de pensar do flex)*/
    justify-content: space-between;
    /*alinha os itens flex de acordo com o container o space-between alinha pelo espaço entre os intems*/
    margin-top: 48px;
}

#page-home header a {
    display: flex;
    color: var(--title-color);
    font-weight: 700;
}

#page-home header a span {
    display: flex;
    margin-right: 16px;
    background-image: url('../assets/log-in.svg');
    width: 20px;
    height: 20px;
}

#page-home main {
    max-width: 560px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-home main h1 {
    font-size: 54px;
}

#page-home main p{
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}

#page-home main a{
    width:100%;
    max-width: 360px;
    background: var(--primary-color);
    height: 72px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    transition: 400ms;
    color: white;
}
#page-home main a:hover{
    background: #2fb86e;
}
#page-home main a span{
    width: 72px;
    height: 72px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-home main a span::after{
    content:"";
    background-image: url('../assets/search.svg');
    width: 20px;
    height: 20px;
}

#page-home main a strong{
    flex: 1; /*faz o elemento crescer de acordo com o elemento pai*/
    text-align: center;
    color: white;
}

@media screen and (max-width:900px){
    #page-home{
        background-position: 70vw;
    }
    #page-home .content{
        align-items: center;
        text-align: center;
    }
    #page-home header a{
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%)
    }
    #page-home main{
        align-items: center;
    }
}